<%= simple_form_for c do |f| %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-center" width="1%">#</th>
        <th scope="col">Step</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <%= f.simple_fields_for :worker do |w| %>

        <tr data-completed="<%= c.call_done %>" height="10%" >
          <th scope="row">1</th>
          <td>
            <i class="case-verification-row fas fa-check-circle"></i>
            Call worker
          </td>
          <td><%= f.input :call_done %></td>
        </tr>

        <tr data-completed="<%= c.worker_photo_id_front? %>" height="10%">
          <th scope="row">2</th>
          <td>
            <i class="case-verification-row fas fa-check-circle"></i>
            Photo ID (front)
          </td>
          <td>
            <%= w.input :photo_id_front, label: false %>
            <small><em>
              <% if c.worker_photo_id_front? %>
                <%= worker.photo_id_front.filename %>
                <%= link_to 'Remove',
                  delete_attachment_case_path(c, worker.photo_id_front.id),
                  method: :delete,
                  data: { confirm: "Delete?" } %>
              <% end %>
            </em></small>
          </td>
        </tr>

        <tr data-completed="<%= c.worker_photo_id_back? %>" height="10%">
          <th scope="row">3</th>
          <td>
            <i class="case-verification-row fas fa-check-circle"></i>
            Photo ID (back)
          </td>
          <td>
            <%= w.input :photo_id_back, label: false %>
            <small><em>
              <% if c.worker_photo_id_back? %>
                <%= worker.photo_id_back.filename %>
                <%= link_to 'Remove',
                  delete_attachment_case_path(c, worker.photo_id_back.id),
                  method: :delete,
                  data: { confirm: "Delete?" } %>
              <% end %>
            </em></small>
          </td>
        </tr>

        <tr data-completed="<%= c.worker_id_selfie? %>" height="10%">
          <th scope="row">4</th>
          <td>
            <i class="case-verification-row fas fa-check-circle"></i>
            Selfie with ID
          </td>
          <td>
            <%= w.input :id_selfie, label: false %>
            <% if c.worker_id_selfie? %>
              <%= worker.id_selfie.filename %>
              <%= link_to 'Remove',
                delete_attachment_case_path(c, worker.id_selfie.id),
                method: :delete,
                data: { confirm: "Delete?" } %>
              <% end %>
          </td>
        </tr>

        <tr data-completed="<%= c.worker_id_type? %>" height="10%">
          <th scope="row">5</th>
          <td>
            <i class="case-verification-row fas fa-check-circle"></i>
            Type of ID
          </td>
          <td><%= w.input :id_type, label: false, collection: Worker::ID_TYPES %></td>
        </tr>

        <tr data-completed="<%= c.worker_id_valid? %>" height="10%">
          <th scope="row">6</th>
          <td>
            <i class="case-verification-row fas fa-check-circle"></i>
            Valid ID
          </td>
          <td><%= w.input :id_valid, as: :boolean, label: 'ID validated' %></td>
        </tr>

        <tr data-completed="<%= c.worker_payment_link? %>" height="10%">
          <th scope="row">7</th>
          <td>
            <i class="case-verification-row fas fa-check-circle"></i>
            Link to make contribution
          </td>
          <td><%= w.input :payment_link, label: false %></td>
        </tr>

        <tr data-completed="<%= c.worker_payment_qr? %>" height="10%">
          <th scope="row">8</th>
          <td>
            <i class="case-verification-row fas fa-check-circle"></i>
            Payment QR code
          </td>
          <td>
            <%= w.input :payment_qr, label: false %>
            <% if c.worker_payment_qr? %>
              <%= worker.payment_qr.filename %>
              <%= link_to 'Remove',
                delete_attachment_case_path(c, worker.payment_qr.id),
                method: :delete,
                data: { confirm: "Delete?" } %>
              <% end %>
          </td>
        </tr>

        <tr data-completed="<%= c.files_attached? %>" height="10%">
          <th scope="row">9</th>
          <td>
            <i class="case-verification-row fas fa-check-circle"></i>
            Claim Evidence
          </td>
          <td data-controller="multi_upload">
            <%= f.input :files, input_html: { multiple: true }, label: false, data: { action: "multi_upload#addFile" } %>
            <% if c.files.attached? %>
              <% c.files.each do |file| %>
                <small><em>
                  <%= file.filename %>
                  <%= link_to 'Remove',
                    delete_attachment_case_path(c, file.id),
                    method: :delete,
                    data: { confirm: "Delete?" } %>
                  <% end %>
                </em></small>
              <% end %>
            <% end %>
          </td>
        </tr>

        <% if c.status == 'active' || c.status == 'closed'  %>
          <tr data-completed="<%= c.paid_proof? %>" height="10%">
            <th scope="row">10</th>
            <td>
              <i class="case-verification-row fas fa-check-circle"></i>
              Proof of payment
            </td>
            <td>
              <%= f.input :paid_proof, label: false %>
              <% if c.paid_proof.attached? %>
                <%= c.paid_proof.filename.to_s %>
                <%= link_to 'Remove',
                            delete_attachment_case_path(c, c.paid_proof.id),
                            method: :delete,
                            data: { confirm: "Delete?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>

    </tbody>
  </table>

  <div>
   Please make sure all the verification steps are completed before making the case active.
    Verification incomplete but still want to make the case active?
    <%= f.input :admin_approved, as: :boolean, label: "Admin override" %>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-3">

    <%= f.submit "Save",  class: 'btn btn-primary mr-2', style:'width:95px;' %>
  </div>
<% end %>

