<div class="case-card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="text-align: center;">Step</th>
          <th scope="col">Verification Item</th>
          <th scope="col">Details</th>
          <th scope="col" style="text-align: center;">Completed</th>
        </tr>
      </thead>
      <tbody>
        <%= simple_form_for c do |f| %>
          <tr class = "case-completed" data-completed="<%= c.call_done %>">
              <th scope="row">1</th>
              <td>Call Worker</td>
              <td><%= f.input :call_done, as: :boolean, label: "Call Done" %></td>
              <td>
                <% if  c.call_done %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-check-circle"></i>
                <% else %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-times-circle"></i>
                <% end %>
              </td>
          </tr>
          <%= f.simple_fields_for :worker do |w| %>
            <tr class = "case-completed" data-completed="<%= worker.photo_id_front.attached? %>">
              <th scope="row">2</th>
              <td>Photo ID (front)</td>
              <td><%= w.input_field :photo_id_front, as: :file, label: false %>
              <%= cl_image_tag worker.photo_id_front.key if worker.photo_id_front.attached? %>
              
              </td>
              <td>
                <% if  worker.photo_id_front.attached? %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-check-circle"></i>
                <% else %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-times-circle"></i>
                <% end %>
              </td>
            </tr>
            <tr class = "case-completed" data-completed="<%= worker.photo_id_back.attached? %>">
              <th scope="row">3</th>
              <td>Photo ID (back)</td>
              <td><%= w.input :photo_id_back, as: :file, label: false %><%= cl_image_tag worker.photo_id_back.key if worker.photo_id_back.attached? %></td>
              
              <td>
                <% if  worker.photo_id_back.attached? %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-check-circle"></i>
                <% else %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-times-circle"></i>
                <% end %>
              </td>
            </tr>
            <tr class = "case-completed" data-completed="<%= worker.id_selfie.attached? %>">
              <th scope="row">4</th>
              <td>Selfie + ID</td>
              <td><%= w.input :id_selfie, as: :file, label: false %><%= cl_image_tag worker.id_selfie.key if worker.id_selfie.attached? %></td>
              <td>
                <% if  worker.id_selfie.attached? %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-check-circle"></i>
                <% else %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-times-circle"></i>
                <% end %>
              </td>
            </tr>
            <tr class = "case-completed" data-completed="<%= worker.id_type.present? %>">
              <th scope="row">5</th>
              <td>Type of ID</td>
              <td><%= w.input :id_type, label: false, collection: Case::ID_TYPES, selected: worker.id_type, prompt: "What's your ID type"  %></td>
              <td>
                <% if  worker.id_type.present? %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-check-circle"></i>
                <% else %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-times-circle"></i>
                <% end %>
              </td>
            </tr>
            <tr class = "case-completed" data-completed="<%= worker.id_valid %>">
              <th scope="row">6</th>
              <td>Valid ID</td>
              <td><%= w.input :id_valid, as: :boolean, label: 'ID Validated' %></td>
              <td>
                <% if  worker.id_valid %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-check-circle"></i>
                <% else %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-times-circle"></i>
                <% end %>
              </td>
            </tr>
            <tr class = "case-completed" data-completed="<%= worker.payment_link.present? %>">
              <th scope="row">7</th>
              <td>Paynow/Paylah</td>
              <td><%= w.input :payment_link, label: false %></td>
              <td>
                <% if  worker.payment_link.present? %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-check-circle"></i>
                <% else %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-times-circle"></i>
                <% end %>
              </td>
            </tr>
            <tr class = "case-completed" data-completed="<%= worker.payment_qr.attached? %>">
              <th scope="row">8</th>
              <td>Payment QR</td>
              <td><%= w.input :payment_qr, as: :file, label: false %><%= cl_image_tag worker.payment_qr.key if worker.payment_qr.attached? %></td>
              <td>
                <% if  worker.payment_qr.attached? %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-check-circle"></i>
                <% else %>
                  <i data-form-cases-target="frontIdCheck" class="far fa-times-circle"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr class = "case-completed" data-completed="<%= c.files.attached? %>">
            <th scope="row">9</th>
            <td>Claim Evidence</td>
            <td><%= f.input :files, input_html: { multiple: true }, label: false %>
                <% if c.files.attached? %>
                  <%  c.files.each do |file| %>
                    <%= cl_image_tag file.key %>
                  <% end %>      
                <% end %>
            </td>
            <td>
              <% if  c.files.attached? %>
                <i data-form-cases-target="frontIdCheck" class="far fa-check-circle"></i>
              <% else %>
                <i data-form-cases-target="frontIdCheck" class="far fa-times-circle"></i>
              <% end %>
            </td>
          </tr>
          <tr class = "case-completed" data-completed="<%= c.paid_proof.attached? %>">
            <th scope="row">10</th>
            <td>Payout Proof</td>
            <td><%= f.input :paid_proof, label: false %> <%= cl_image_tag c.paid_proof.key if c.paid_proof.attached? %></td>
            <td>
              <% if  c.paid_proof.attached? %>
                <i data-form-cases-target="frontIdCheck" class="far fa-check-circle"></i>
              <% else %>
                <i data-form-cases-target="frontIdCheck" class="far fa-times-circle"></i>
              <% end %>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
    <%= f.button :submit, class: 'btn btn-primary btn-block' %>
    <% end %>