<div class="case-index-top">
  <%= link_to "Add Case", new_case_path, class: "btn btn-outline-primary" %>
</div>
<div class="all-case-card">
  <table class="table table-striped table-hover">
    <thead>
        <th>Case No.</th>
        <th>Created On</th>
        <th>Name</th>
        <th>Status</th>
        <th>Start On</th>
        <th>End On</th>
        <th>Coordinator</th>
        <th>Progress</th>
    </thead>
    <tbody>
      <% @cases.each do |c| %>
        <tr class = "case-row" data-case-id="<%= c.id %>">
          <td><%= c.id %></td>
          <td><%= c.created_at.strftime("%d %B %Y") %></td>
          <td><%= c.worker.name %></td>
          <td><%= c.status %></td>
          <td><%= c.start_date %></td>
          <td><%= c.end_date %></td>
          <td><%= c.coordinator.name %></td>
          <td style="width:20%">
            <div class="progress" style="height: 20px;">
              <div class="progress-bar"
                role="progressbar"
                style="width: <%= 100 * c.current_amount_cents/c.target_amount.cents %>%;"
                aria-valuenow="<%= c.current_amount_cents %>"
                aria-valuemin="0"
                aria-valuemax="<%= c.target_amount.cents %>">
              </div>
            </div>
            <p><%= money_without_cents_and_with_symbol(c.current_amount) %> / <%= money_without_cents_and_with_symbol(c.target_amount) %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
