<div class="container">
    <div class="row  justify-content-around">
        <div class="col-4 case-profile-card">
          <div class="worker-img-container">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-worker" %>
          </div>

          <div class="case-info-container">
            <p>Catergory <%= @case.category.capitalize %></p>
            <div class="row">
              <div class="col">
                Start Date
                <p><%= @case.start_date %></p>
              </div>
              <div class="col">
                Due Date
                <p><%= @case.end_date %></p>
              </div>
            </div>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar" role="progressbar" style="width: <%= @case.calculate_progress%>%;"
                   aria-valuenow="55" aria-valuemin="0" aria-valuemax= <%= @case.target_amount %>><%= @case.calculate_progress%>%</div>
            </div>
            <div class="row">
              <div class="col">
                Target amount
                <p>SGD<%= @case.target_amount %></p>
              </div>
              <div class="col">
                Amount left
                <p>SGD<%= @case.target_amount %></p>
              </div>
            </div>
            <p>Coordinator  <%= @case.coordinator.name%></p>
          </div>

          <h2>Case's notes</h2>

          <ul class="list-group">
            <% @case.case_notes.each do |note| %>
              <li class="list-group-item"><%= note.content %></li>
            <% end %>
          </ul>

          <%= link_to 'Leave a note', new_case_case_notes_path(@case) %>
        </div>




        <div class="col-7" >
          <div class="case-worker case-card ">

          <div class="border">
            <input class ="toggle" type="checkbox" id="shortlist" >
            <label for="shortlist">Shortlisted</label>
          </div>


            <div class="row p-4">
              <div class="col">
                <p>Name <%= @case.worker.name %></p>
                <p>Mobile Number <%= @case.worker.mobile_number %></p>
              </div>
              <div class="col">
                <p>Alias <%= @case.worker.alias %></p>
                <p>Email <%= @case.worker.email %></p>
              </div>
            </div>
          </div>
          <div class="case-card p-4">
            Summary
            <p><%= @case.story_summary %></p>
          </div>
          <div class="case-card p-4">
            Story
            <p><%= @case.story %></p>
          </div>
        </div>
    </div>
</div>

<div class="container">
  <%= simple_form_for @case do |f| %>
    <%= f.simple_fields_for :worker do |w| %>
      <%= w.input :photo_id_front, as: :file, label: 'Photo ID (front)' %>
      <%= cl_image_tag @worker.photo_id_front.key if @worker.photo_id_front.attached? %>
      <%= w.input :photo_id_back, as: :file, label: 'Photo ID (back)' %>
      <%= cl_image_tag @worker.photo_id_back.key if @worker.photo_id_back.attached? %>
      <%= w.input :id_selfie, as: :file, label: 'Selfie + ID' %>
      <%= cl_image_tag @worker.id_selfie.key if @worker.id_selfie.attached? %>
      <%= w.input :id_type, label: 'Type of ID', collection: Case::ID_TYPES, selected: @worker.id_type, prompt: "What's your ID type"  %>
      <%= w.input :id_valid, as: :boolean, label: 'Validated the ID' %>
      <%= w.input :payment_link, label: 'Paynow/Paylah' %>
      <%= w.input :payment_qr, as: :file, label: 'Payment QR' %>
      <%= cl_image_tag @worker.payment_qr.key if @worker.payment_qr.attached? %>
    <% end %>

    <%= f.input :files, input_html: { multiple: true }, label: 'Claim Evidence' %>
    <% if @case.files.attached? %>
      <% @case.files.each do |file| %>
        <%= cl_image_tag file.key %>
      <% end %>      
    <% end %>
    
    <%= f.input :paid_proof, label: 'Payout Proof' %>
    <%= cl_image_tag @case.paid_proof.key if @case.paid_proof.attached? %>

    <%= f.button :submit, class: 'btn btn-primary btn-block' %>
  <% end %>
</div>







