<div class="section">
  <div class="container">
    <div class="container d-flex mt-3 p-0 justify-content-between align-items-center">
      <h3>All coordinators</h3>
      <%= form_tag coordinators_path, method: :get do %>
        <div class="input-group">
          <%= link_to "New coordinator", new_coordinator_path, class: "btn btn-primary mr-2" %>

          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a coordinator"
          %>
          <%= button_tag type: "submit", class: "btn btn-primary" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <table class="table table-bordered">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile number</th>
        <th scope="col">Email</th>
        <th scope="col">Description</th>
      </thead>
      <tbody>
        <% @coordinators.each do |coordinator| %>
          <tr>
            <td scope="row" width="1%"><%= link_to coordinator.id, coordinator_path(coordinator) %></td>
            <td><%= coordinator.name %></td>
            <td><%= coordinator.mobile_number %></td>
            <td><%= coordinator.email %></td>
            <td><%= coordinator.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
