<div class="container search-container mt-5 mb-5">
  <%= form_tag coordinators_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a coordinator" 
    %>
    <%= submit_tag "Search", class: "btn btn-primary"%>
  <% end %>
</div>  
  
<div class="case-index-top">
  <p><%= link_to "Add Coordinator", new_coordinator_path, class: "btn btn-outline-primary" %></p>
</div>

<div class="all-case-card">
  <table class="table table-striped"> 
    <tr>
      <th scope="col">Case No.</th>
      <th scope="col">NAME</th>
      <th scope="col">MOBILE NUMBER</th>
      <th scope="col">EMAIL</th>
    </tr>
      
    <% @coordinators.each_with_index do |coordinator, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to coordinator.name, coordinator_path(coordinator) %></td>
        <td><%= link_to coordinator.mobile_number, coordinator_path(coordinator) %></td>
        <td><%= link_to coordinator.email, coordinator_path(coordinator) %></td>
      </tr>
    <% end %>
      
  </table>
</div>
