<div class="container">
  <h2>Coordinator's details</h2>
  <p><%= link_to "Back", coordinators_path, class: "btn btn-outline-primary" %></p>

  <div class="row">
    <div class="col-6">
      <div class="coordinator-profile-card mt-2">
        <div class="worker-img-container">
          <% if @coordinator.profile_photo.attached? %>
            <%= cl_image_tag @coordinator.profile_photo.key, class: "avatar-large avatar-worker"%>
          <% else %>
            <img class="avatar-large avatar-worker" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
          <% end %>
        </div>
        <div class="case-info-container">    
          <p><strong>Name: </strong><%= @coordinator.name %></p>
          <p><strong>Email: </strong><%= @coordinator.email %></p>
          <p><strong>Mobile number: </strong><%= @coordinator.mobile_number %></p>
          <p><strong>Telegram handle: </strong><%= @coordinator.telegram_handle %></p>
          <p><strong>Archived: </strong><%= @coordinator.is_archived %></p>
          <p><%= link_to "Edit Coordinator", edit_coordinator_path, class: "btn btn-outline-primary mt-3" %></p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="coordinator-card">
        <div class="card-header row justify-content-start">
          <p><strong>Description</strong></p>
        </div>
        <%= @coordinator.description %>
      </div>
      <div class="coordinator-card">
        <div class="card-header row justify-content-start">
          <p><strong>Cases</strong></p>
        </div>
        <table class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="col">#</th>
              <th scope="col">Case Ref</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            <% @coordinator.cases.each do |c| %>
              <tr>
                <td><%= c.id %></td>
                <td><%= c.title %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>  
    </div>
      
    </div>
  </div>
</div>


