<div class="row">
  <div class="col">
    <strong>
      S<%= Money.new(c.current_amount).format(
        no_cents: true,
        symbol_before_without_space: true
      ) %>
    </strong>
       of <%= c.target_amount.format(
        no_cents: true,
        symbol_before_without_space: true
      ) %> goal (<%= (c.end_date - Date.today).to_i %> more days)
    </p>

    <div class="progress">
      <div class="progress-bar-success"
        role="progressbar"
        style="width: <%= 100 * c.current_amount_cents/c.target_amount.cents %>%;"
        aria-valuenow="<%= c.current_amount_cents %>"
        aria-valuemin="0"
        aria-valuemax="<%= c.target_amount.cents %>">
      </div>
    </div>
  </div>
</div>



