<div class="row">
  <div class="col">
    <div class="mt-4 font-weight-bold text-dark">
      S<%= Money.new(c.current_amount).format(
        no_cents: true,
        symbol_before_without_space: true
      ) %> Raised
    </div>

    <p class="last-payment-text">
      <%= c.last_payment.nil? ? 'Be the first to contribute' : "Contribution made #{time_ago_in_words(c.last_payment.created_at)} ago" %>
    </p>
   
    <div class="progress" style="height: 20px;">
      <div class="progress-bar"
        role="progressbar"
        style="width: <%= 100 * c.current_amount_cents/c.target_amount.cents %>%;"
        aria-valuenow="<%= c.current_amount_cents %>"
        aria-valuemin="0"
        aria-valuemax="<%= c.target_amount.cents %>">
      </div>
    </div>

    <div class="d-flex justify-content-between px-1">
      <p>
        <%= 100 * c.current_amount_cents/c.target_amount.cents %>%
         of <%= c.target_amount.format(
          no_cents: true,
          symbol_before_without_space: true
        ) %> Goal
        <%# (<%= (c.target_amount - Money.new(c.current_amount)).format(
          no_cents: true,
          symbol_before_without_space: true
        ) %>
      </p>

      <p>
        <%= (c.end_date - Date.today).to_i %> more days
      </p>
    </div>  
  </div>
</div>
