<div class="row">
  <div class="col">
    <h5 class="d-inline"><strong>
      S<%= Money.new(c.current_amount).format(
        no_cents: true,
        symbol_before_without_space: true
      ) %>
    </strong></h5>
       raised of <%= c.target_amount.format(
        no_cents: true,
        symbol_before_without_space: true
      ) %> goal (<%= Money.new([0, c.target_amount - c.current_amount].max).format(
        no_cents: true,
        symbol_before_without_space: true
      ) %> left)
    </p>
  </div>
</div>

<div class="progress">
  <div class="progress-bar-success"
    role="progressbar"
    style="width: <%= 100 * c.current_amount_cents/c.target_amount.cents %>%;"
    aria-valuenow="<%= c.current_amount_cents %>"
    aria-valuemin="0"
    aria-valuemax="<%= c.target_amount.cents %>">
  </div>
</div>

