<div class="public-container">
<h1>Cases</h1>
  <div class="filter-container">
    <div class="row">
      <p class="a">Category:</p>
      <a class="filter-btn" href='active_cases'>Show all</a>
      <a class="filter-btn" href='active_cases?category=medical'>Medical</a>
      <a class="filter-btn" href='active_cases?category=agent_fees'>Agent Fees</a>
      <a class="filter-btn" href='active_cases?category=bills'>Bills</a>
      <a class="filter-btn" href='active_cases?category=others'>Others</a>
    </div>
  </div>
  <div class="row">
    <% @cases.each do |c| %>
      <div class="public-card">

        <div class="card-header row justify-content-start pb-0">
          <p>Case ref<%= c.id %></p>
        </div>

        <div class="row pt-3">
          <div class="col">
            <p>Category</p>
          </div>
          <div class="col">
            <%= c.category %>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>Start Date</p>
            <p>End Date</p>
          </div>
          <div class="col">
            <p><%= c.end_date %></p>
            <p><%= c.start_date %></p>
          </div>
        </div>

        <div class="row">
          <div class="col">
           <p>Progress</p>
          </div>
          <div class="col">
            <div class="progress">
              <div class="progress-bar"
                role="progressbar"
                style="width: <%= 100 * c.current_amount_cents/c.target_amount.cents %>%;"
                aria-valuenow="<%= c.current_amount_cents %>"
                aria-valuemin="0"
                aria-valuemax="<%= c.target_amount.cents %>">
              </div>
            </div>
            <p><%= money_without_cents_and_with_symbol(c.current_amount) %> / <%= money_without_cents_and_with_symbol(c.target_amount) %></p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>Summary</p>
          </div>
          <div class="col">
            <p><%= c.story_summary %></p>
          </div>
        </div>

        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#caseStory<%= c.id %>" aria-expanded="false" aria-controls="caseStory<%= c.id %>">
            Story
          </button>
        </p>

        <div class="collapse" id="caseStory<%= c.id %>">
          <div class="card card-body">
            <%= c.story %>
          </div>
        </div>

        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#caseCoordinator<%= c.id %>" aria-expanded="false" aria-controls="caseCoordinator<%= c.id %>">
          Contact Coordinator
          </button>
        </p>

        <div class="collapse" id="caseCoordinator<%= c.id %>">
          <div class="card card-body">
            <%= c.coordinator.name %>
          </div>
        </div>

        <%= simple_form_for @payment do |f| %>
          <%= hidden_field_tag 'case_id', c.id %>
          <%= f.input :amount %>
          <%= f.button :submit, 'Contribute', class: 'btn btn-primary' %>
        <% end %>

      </div>
    <%end%>
  </div>
</div>




