<div class="section">
  <div class="container ">
    <header><h2><%= @case.title %></h2></header>
    <div class="d-flex">
      <div class="w-50">
        <!-- Case description -->
        <hr>
        <h6><i class="fas fa-briefcase-medical mr-2"></i> <%= @case.category.gsub(/_/, ' ').gsub(/\b\w/, &:capitalize) %></h6>
        <div class="d-flex justify-content-between">
          <p class="">Created <%= time_ago_in_words(@case.start_date) %> ago </p>
          <p>Fund needed by <strong><%= @case.end_date.strftime("%d %B %Y") %></strong></p>
        </div>
        <hr style="margin-top: 0;">
          <div>
            <div class="mt-3"><%= @case.story_summary %></div>
            <div class="mt-3"><%= @case.story %></div>
          </div>
          <div>
            <div>
              <h4>Coordinator and Worker</h4>
              <hr>
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <div class="m-2">
                    <i class="far fa-user fa-2x mr-2"></i>
                  </div>
                  <div>
                    <p><%= @case.coordinator.name %></p>
                    <p>Coordinator</p>
                    <!-- Button trigger contact modal -->
                    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#contactModal">
                      Contact
                    </button>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="m-2">
                    <i class="far fa-user fa-2x mr-2"></i>
                  </div>
                  <div>
                    <p><%= @case.worker.alias %></p>
                    <p>Worker</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Comment -->
            <h4>Comment</h4>
            <hr>
            <div class="d-flex">
                <p><i class="fas fa-user-circle mr-3"></i>
                <div>
                  <p>name donated </p>
                  <p>comment.truncate</p>
                  <small class="text-muted mt-2"> ago</small>
                </div>
            </div>
            
          </div>
      </div>
      
      <!-- Sidebar card -->
      <div class="sidebar card my-3 mx-5" style="width: 35%; height: 100%;">
        <div class="m-4">

         <!-- prgress-info -->
          <%= render 'progress', c:@case %>
          <div class="d-flex">
            <div class="num-of-contributors mr-4">
              <strong><%= @num_of_contributors %></strong>
              <p><%= @num_of_contributors > 1 ? "contributors" : "contributor" %></p>
            </div>
            <div class="num-of-subscribers">
              <strong><%= @num_of_subscribers %></strong>
              <p><%= @num_of_subscribers > 1 ? "subscribers" : "subscriber" %></p>
            </div>
          </div>
          <button class="btn btn-primary w-100 my-2">Share</button>

          <!-- Contribute collapsible button -->
          <button class="btn btn-primary w-100 my-2" type="button" data-toggle="collapse" data-target="#caseCoordinator<%= @case.id %>" aria-expanded="false" aria-controls="caseCoordinator<%= @case.id %>">
            Contribute Now
          </button>
          <div class="collapse" id="caseCoordinator<%= @case.id %>">
            <div class="card-body">
              <p>STRIPE</p>
              <p><i class="fab fa-cc-visa fa-2x"></i> <i class="fab fa-cc-mastercard fa-2x"></i> <i class="fab fa-cc-amex fa-2x"></i></p>
                <%= simple_form_for @payment do |f| %>
                  <%= hidden_field_tag 'case_id', @case.id %>
                  <%= f.input :amount %>
                  <%= f.button :submit, 'Submit', class: 'btn btn-primary mb-3 btn-wd' %>
                <% end %>
            </div>
          </div> 
          
         <!-- contribution-info -->
          <% @contributions.order("created_at desc").limit(3).each do |contribution| %>
            <hr>
            <div class="d-flex">
              <div class="contributor-info ml-2">
              <p><i class="fas fa-user-circle mr-2"></i><%= contribution.payee_name %></p>
              <p><%= money_without_cents_and_with_symbol(contribution.amount) %>&nbsp;&nbsp;<span class="dot"></span> <%= time_ago_in_words(contribution.created_at) %> ago</p>
              </div>
            </div>
          <% end %>
          
          <!-- Button trigger contribution list modal -->
          <button class="btn btn-outline-primary" data-toggle="modal" data-target="#contributionListModal">
            See All
          </button>

        </div>
      </div>
    </div> 
  </div> 
</div>

<!--Contribution list modal -->
<div class="modal fade" id="contributionListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header py-2">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
      <h5 class="modal-title" id="myModalLabel">Join this list. Contribute now!</h5>
        <% @contributions.order("created_at desc").each do |contribution| %>
          <hr>
          <div class="d-flex">
            <div class="contributor-info ml-2">
              <p><i class="fas fa-user-circle mr-2"></i><%= contribution.payee_name %></p>
              <p><%= money_without_cents_and_with_symbol(contribution.amount) %>&nbsp;&nbsp;<span class="dot"></span> <%= time_ago_in_words(contribution.created_at) %> ago</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--Coordinator contact modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Get in touch with</h3>
      </div>
      <div class="modal-body">
        <div class="coordinator d-flex mb-2">
          <div class="coordinator-avatar m-2">
            <i class="far fa-user fa-2x mr-2"></i>
          </div>
          <div class="coordinator-info">
            <p><%= @case.coordinator.name %></p>
            <p>Coordinator</p>
            <% if @case.coordinator.telegram_handle.present? %>
              <i class="fab fa-telegram fa-lg"> <%= link_to "@#{@case.coordinator.telegram_handle}", "https://t.me/#{@case.coordinator.telegram_handle}", target: "_blank", style:"font-size: 15px;" %></i>
            <% end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

