<h3>Active Cases</h3>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Contribute today</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <p>STRIPE</p>
          <p><i class="fab fa-cc-visa fa-2x"></i> <i class="fab fa-cc-mastercard fa-2x"></i> <i class="fab fa-cc-amex fa-2x"></i></p>
          <%= simple_form_for @payment do |f| %>
            <%= f.input :amount %>
            <%= f.button :submit, 'Submit', class: 'btn btn-primary mb-3 btn-wd' %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex mt-4 p-0 align-items-center">
  <div>
    <h6 class="a">Filter By:</h6>
  </div>
  <div id="category-btn">
    <% unless @category %>
      <a class="btn btn-primary btn-round" href='active_cases'>Show all</a>
    <% else %>
      <a class="btn btn-outline-primary btn-round" href='active_cases'>Show all</a>
    <% end %>

    <% if @category == 'medical' %>
      <a class="btn btn-primary btn-round" href='active_cases?category=medical'>Medical</a>
    <% else %>
      <a class="btn btn-outline-primary btn-round" href='active_cases?category=medical'>Medical</a>
    <% end %>

    <% if @category == 'agent_fee' %>
      <a class="btn btn-primary btn-round" href='active_cases?category=agent_fee'>Agent Fees</a>
    <% else %>
      <a class="btn btn-outline-primary btn-round" href='active_cases?category=agent_fee'>Agent Fees</a>
    <% end %>

    <% if @category == 'bills' %>
      <a class="btn btn-primary btn-round" href='active_cases?category=bills'>Bills</a>
    <% else %>
      <a class="btn btn-outline-primary btn-round" href='active_cases?category=bills'>Bills</a>
    <% end %>

    <% if @category == 'others' %>
      <a class="btn btn-primary btn-round" href='active_cases?category=others'>Others</a>
    <% else %>
      <a class="btn btn-outline-primary btn-round" href='active_cases?category=others'>Others</a>
    <% end %>
  </div>
</div>


<div class="card-grid mt-3">
  <% @cases.each do |c| %>
    <div class="card active-cases">
      <div class="card-header">
        <h6 class="card-title"><%= c.title%></h6>
      </div>
      <div class="card-body pt-3">
        <%= render 'progress', c: c %>

        <p class="card-text mt-3 ellipsis"><%= c.story_summary %></p>

        <span class="badge badge-default ">
          <% if c.category == "medical" %>
            <i class='fas fa-plus-square mt-1 mr-1'></i>
          <% end %>
          <% if c.category == "agent_fee" %>
            <i class='fas fa-file-alt mt-1 mr-1'></i>
          <% end %>
          <% if c.category == "others" %>
            <i class='fas fa-hand-holding-heart mt-1 mr-1'></i>
          <% end %>
          <% if c.category == "bills" %>
            <i class='fas fa-credit-card mt-1 mr-1'></i>
          <% end %>
          <%= c.category.humanize %>
        </span>
      </div>

      <button type="button" class="btn btn-primary mt-2 w-100" >
        <%= link_to "learn more", active_case_path(c), class:"learn-more-btn"%>
      </button>

      <button type="button" class="btn btn-primary mt-2 w-100 modalBtn" data-toggle="modal" data-target="#exampleModalCenter" data-id="<%= c.id %>" data-title="<%= c.title %>">
        Contribute Today
      </button>

    </div>
  <% end %>
</div>
