<div class="row justify-content-lg-around mt-5">
  <div class="col-7">
    <div class="row">
      <div class="card h-100">
        <div class="card-header">
          <h3 class="card-title"><%= @case.title %></h3>
        </div>
        <div class="card-body">
          <p class="card-text"><%= @case.story %></p>
        </div>
        <div class="card-footer border-top pt-0 mt-0">
          <div class="card-footer row">
            <div class="col d-flex align-items-center">
              <small class="d-flex align-items-center">
                <i class="fas fa-user-circle mr-2"></i><span> Coordinated by <a href="#" data-toggle="modal" data-target="#contactModal"><%= @case.coordinator.name %></a></span>
              </small>
            </div>
            <div class="col d-flex align-items-center">
              <small><i class="fas fa-briefcase-medical mr-2"></i> <%= @case.category.humanize %></small>
            </div>
          </div>
          <div class="card-footer row">
            <div class="col d-flex align-items-center">
              <small class="">Created <%= time_ago_in_words(@case.start_date) %> ago </small>
            </div>
            <div class="col d-flex align-items-center">
              <small>Funds needed by <strong><%= @case.end_date.strftime("%d %B %Y") %></strong></small>
            </div>
          </div>
        </div>
      </div>

      <!--comment-->
      <div class="card h-100 w-100 ">
        <div class="card-body comment-card">
          <h5><%= pluralize @case_comments.size, "Comment" %></h5>
          <% @case_comments.each do |comment| %>
            <hr>
            <div class="d-flex mt-2">
              <p><i class="fas fa-user-circle mr-3"></i>
              <div>
                <p><%= comment.case_contributor.name %></p>
                <p class="mb-0">
                  <%= comment.content %>
                  <span class="dot"></span>
                  <small><%= time_ago_in_words(comment.created_at) %> ago</small>
                </p>
              </div>
               
              <% if user_signed_in? %>
               <%= link_to 'Delete', case_case_comment_path(@case,comment), method: :delete, remote: true, style: "margin-left: auto" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-5">
    <!-- Sidebar card -->
    <div class="sidebar card mt-0 mb-3 mx-5 h-60">
      <div class="m-4">

       <!-- prgress-info -->
        <%= render 'progress', c: @case %>

        <div class="d-flex justify-content-between mt-2">
          <p>
            <strong><%= @incoming_payments.count %></strong>
            <%= "contribution".pluralize(@incoming_payments.count) %>
          </p>
          <p>
            <strong><%= @case_contributors.count %></strong>
             following this case
          </p>
        </div>

        <button type="button" class="btn btn-primary w-100 my-2 d-flex align-items-center" data-toggle="modal" data-target="#shareModal">
          <i class="fas fa-share-alt"></i>
          <span class="flex-grow-1">Share</span>
        </button>

        <!-- Contribute collapsible button -->
        <button class="btn btn-primary w-100 my-2 d-flex align-items-center" type="button" data-toggle="collapse" data-target="#caseCoordinator<%= @case.id %>" aria-expanded="false" aria-controls="caseCoordinator<%= @case.id %>">
          <i class="fas fa-hand-holding-usd"></i>
          <span class="flex-grow-1">Contribute now</span>
        </button>
        <div class="collapse my-2" id="caseCoordinator<%= @case.id %>">
          <p class="card-title d-flex justify-content-lg-between">
            <span class="font-weight-bold">Enter your contribution</span>
            <span class="text-muted"><small>
              <i class="fab fa-cc-visa fa-2x"></i> <i class="fab fa-cc-mastercard fa-2x"></i> <i class="fab fa-cc-amex fa-2x"></i>
            </small></span>
          </p>
          <%= simple_form_for @payment do |f| %>
            <%= hidden_field_tag 'case_id', @case.id %>
            <%= f.input :amount, label: false %>
            <%= f.button :submit, 'Submit', class: 'btn btn-primary w-100 btn-wd' %>
          <% end %>
        </div>

        <!-- contribution-info -->
        <div class="my-2">
          <h5>
            <strong class="text-primary"><%= @incoming_payments.count %></strong> <%= 'person'.pluralize(@incoming_payments.count) %> contributed so far
          </h5>
          <% @incoming_payments.order("created_at desc").limit(3).each do |payment| %>
            <hr>
            <div class="d-flex justify-content-start align-items-center">
              <i class="fas fa-user-circle mr-3"></i>
              <div>
                <p><%= payment.payee_name || 'Anonymous' %></p>
                <p class="mb-0">
                  <%= money_without_cents_and_with_symbol(payment.amount) %>
                  <span class="dot"></span>
                  <small><%= time_ago_in_words(payment.created_at) %> ago</small>
                </p>
              </div>
            </div>
          <% end %>
        </div>

        <!-- Button trigger contribution list modal -->
        <button class="btn btn-outline-primary btn-sm mt-2" data-toggle="modal" data-target="#contributionListModal">
          See All
        </button>

      </div>
    </div>
  </div>
</div>

<!--Contribution list modal -->
<%= render 'contributions', incoming_payments: @incoming_payments, c: @case %>

<!--Coordinator contact modal -->
<%= render 'coordinator', c: @case %>

<!-- Share button modal -->
<%= render 'share', c: @case %>

<script>

const deleteComment = (e)=>{
  if (e.target.classList.contains('delete-comment')){
    console.log('delete');
  }
   e.preventDefault();
};

document.querySelector('.comment-card').addEventListener('click',deleteComment);
</script>