<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Payment successful!</h1>
      <p>Contributed <strong><%= humanized_money_with_symbol @payment.amount %></strong> to <strong><%= @payment.case.worker.alias %></strong> for <strong><%= @payment.case.title %></strong></p>
      <p>Subcribe to this case for update</p>
      <%= simple_form_for @case_contributor do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= hidden_field_tag :case_id, @payment.case.id  %>
        <%= f.submit %>
      <% end %>
      <%= link_to 'Back', case_path %>
    </div>
  </div>
</div>



CaseContributor
id
case_id
name
email


Case.find(3).case_contributors.map(&:email_address)


