<div class="section">
  <div class="container">
    <div class="container d-flex mt-3 p-0 justify-content-between align-items-center">
      <h3>All workers</h3>
      <%= form_tag workers_path, method: :get do %>
        <div class="input-group">
          <%= link_to "New worker", new_worker_path, class: "btn btn-primary mr-2" %>

          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a worker"
          %>
          <%= button_tag type: "submit", class: "btn btn-primary" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <table class="table table-bordered">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Alias</th>
        <th scope="col">Mobile number</th>
        <th scope="col">Email</th>
        <th scope="col">Description</th>
      </thead>
      <tbody>
        <% @workers.each do |worker| %>
          <tr>
            <td scope="row" width="1%"><%= link_to worker.id, worker_path(worker) %></td>
            <td><%= worker.name %></td>
            <td><%= worker.alias %></td>
            <td><%= worker.mobile_number %></td>
            <td><%= worker.email %></td>
            <td><%= worker.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
