<div class="container">
  <h1>Listing Workers</h1>

  <button type="button" class="btn btn-outline-primary"><%= link_to "Create new worker", new_worker_path %></button>

  <table class="table table-striped"> 
    <tr>
      <th scope="col">NO.</th>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Alias</th>
      <th scope="col">Mobile number</th>
      <th scope="col">Description</th>
    </tr>

    <tbody>
      <% @workers.each_with_index do |worker, index| %>
        <tr>
          <td><%= index + 1 %>
          <td><%= worker.email %></td>
          <td><%= worker.name %></td>
          <td><%= worker.alias %></td>
          <td><%= worker.mobile_number %></td>
          <td><%= worker.description %></td>
          <td><%= link_to "Show", worker %></td>
          <td><%= link_to "Edit", edit_worker_path(worker) %></td>
        </tr>
      <% end %>
    </tbody>
    
  </table>

</div>


