<h1>Worker's details</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col mt-5 mb-5">
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag @worker.payment_qr.key, class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">Name:<%= @worker.name %></h5>
          <p class="card-text">
            <p>ID:<%= @worker.id %></p>
            <p>Email:<%= @worker.email %></p>
            <p>Name:<%= @worker.name %></p>
            <p>Alias:<%= @worker.alias %></p>
            <p>Mobile number:<%= @worker.mobile_number %></p>
            <p>Description:<%= @worker.description %></p>
            <p>Photo ID front:<%= @worker.photo_id_front %></p>
            <p>Photo ID back:<%= @worker.photo_id_back %></p>
            <p>ID selfie:<%= @worker.id_selfie %></p>
            <p>ID Type:<%= @worker.id_type %></p>
            <p>Valid ID?:<%= @worker.id_valid %></p>
            <p>Payment link:<%= @worker.payment_link %></p>
            <p>Payment QR:<%= @worker.payment_qr %></p>
            <p>Archived:<%= @worker.is_archived %></p>
          </p>
          <%= link_to "Edit", edit_worker_path %>
          <%= link_to "Back", workers_path %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Placeholder for As a User I can view a Worker's Cases -->
<tbody>
  <% @workers.each do |worker| %>
    <tr>
      <td><%= worker.case.title %></td>
      <td><%= worker.case.story_summary %></td>
      <td><%= worker.case.story %></td>
    </tr>
  <% end %>
</tbody>
