<div class="container">  
  <h2>Worker's details</h2>
  <p><%= link_to "Back", workers_path, class: "btn btn-outline-primary" %></p>

  <div class="row">
    <div class="col-6">
      <div class="coordinator-profile-card mt-2">
        <div class="worker-img-container">
          <%= cl_image_tag @worker.payment_qr.key, class: "avatar-large avatar-worker" %>
        </div>  
        <div class="case-info-container">
          <p><strong>ID: </strong><%= @worker.id %></p>
          <p><strong>Name: </strong><%= @worker.name %></p>
          <p><strong>Email: </strong><%= @worker.email %></p>
          <p><strong>Alias: </strong><%= @worker.alias %></p>
          <p><strong>Mobile number: </strong><%= @worker.mobile_number %></p>
          <p><strong>Archived: </strong><%= @worker.is_archived %></p>
          <%= link_to "Edit", edit_worker_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="coordinator-card">
        <div class="card-header row justify-content-start">
          <p><strong>Description</strong></p>
        </div>
        <%= @worker.description %>
      </div>
      
      <!-- Worker's cases -->
      <div class="coordinator-card">
        <div class="card-header row justify-content-start pt-3 pb-0">
          <p><strong>Worker's cases</strong></p>
        </div>  
        <table class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="col">#</th>
              <th scope="col">Case Ref</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            <% @worker.cases.each do |c| %>
              <tr>
                <th scope="row">1</th>
                <td><%= c.id %></td>
                <td><%= c.title %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Worker's notes -->
  <div class="row">
    <div class="col mt-5">
      <h3>Notes</h3>
      <ul class="list-group">
        <% @worker.worker_notes.each do |note| %>
          <li class="list-group-item"><%= note.content %></li>
        <% end %>
      </ul>

      <%= link_to 'Leave a note', new_worker_worker_notes_path(@worker), class: "btn btn-outline-primary mt-3" %>
    </div>
  </div>
</div>



<p>Photo ID front:<%= @worker.photo_id_front %></p>
<p>Photo ID back:<%= @worker.photo_id_back %></p>
<p>ID selfie:<%= @worker.id_selfie %></p>
<p>ID Type:<%= @worker.id_type %></p>
<p>Valid ID?:<%= @worker.id_valid %></p>
<p>Payment link:<%= @worker.payment_link %></p>
<p>Payment QR:<%= @worker.payment_qr %></p>




