<div class="container">
  <h2>Worker's details</h2>
  <p><%= link_to "Back", workers_path, class: "btn btn-outline-primary" %></p>

  <div class="row">
    <div class="col-6">
      <div class="coordinator-profile-card mt-2">
        <div class="worker-img-container">
          <%= cl_image_tag @worker.payment_qr.key, class: "avatar-large avatar-worker" %>
        </div>
        <div class="case-info-container">
          <p><strong>ID: </strong><%= @worker.id %></p>
          <p><strong>Name: </strong><%= @worker.name %></p>
          <p><strong>Email: </strong><%= @worker.email %></p>
          <p><strong>Alias: </strong><%= @worker.alias %></p>
          <p><strong>Mobile number: </strong><%= @worker.mobile_number %></p>
          <p><strong>Archived: </strong><%= @worker.is_archived %></p>
          <%= link_to "Edit", edit_worker_path, class: "btn btn-outline-primary" %>
        </div>

        <!-- Worker's notes -->
        <div class="case-info-container">
          <h3>Notes</h3>
          <ul class="list-group">
            <% @worker.worker_notes.each do |note| %>
              <li class="list-group-item"><%= note.content %></li>
            <% end %>
          </ul>

          <%= link_to 'Leave a note', new_worker_worker_notes_path(@worker), class: "btn btn-outline-primary mt-3" %>
          </div>
        </div>
    </div>

    <div class="col-6">
      <div class="coordinator-card">
        <div class="card-header row justify-content-start">
          <p><strong>Description</strong></p>
        </div>
        <%= @worker.description %>
      </div>

      <!-- Worker's cases -->
      <div class="coordinator-card">
        <div class="card-header row justify-content-start pt-3 pb-0">
          <p><strong>Worker's cases</strong></p>
        </div>
        <table class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="col">Case Ref</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            <% @worker.cases.each do |c| %>
              <tr>
                <td><%= c.id %></td>
                <td><%= c.title %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


<h2>Other worker details</h2>
<div class="container">
  <div class="row">
    <div class="coordinator-profile-card mt-2">
      <div class="worker-img-container">
        <%= cl_image_tag @worker.photo_id_front.key, class: "avatar-large avatar-worker" %>
        <%= cl_image_tag @worker.photo_id_back.key, class: "avatar-large avatar-worker" %>
        <%= cl_image_tag @worker.id_selfie.key, class: "avatar-large avatar-worker" %>
        <%= cl_image_tag @worker.id_selfie.key, class: "avatar-large avatar-worker" %>
      </div>
    </div>
  </div>
</div>


