<h2>Name:<%= @worker.name %></h2>
<p>Email:<%= @worker.email %></p>
<p>Alias:<%= @worker.alias %></p>
<p>Mobile number:<%= @worker.mobile_number %></p>
<p>Description:<%= @worker.description %></p>
<p>ID Type:<%= @worker.id_type %></p>
<p>Valid ID?:<%= @worker.id_valid %></p>
<p>Payment link:<%= @worker.payment_link %></p>
<p>Archived:<%= @worker.is_archived %></p>
