<!DOCTYPE html>
<html>
  <head>
    <title>Droplet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('droplet.png') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="section pt-6 pb-0 mb-0">
      <%= render 'shared/flashes', class: 'section mt-6' %>
    </div>
    <div class="section section-nude pt-1">
      <div class="container pt-0">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
